.fishbone {
  position: relative;
  text-align: center;
  height: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background: black; 
}

.controls button {
  margin: 5px;
}

.toggle-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.toggle-cart button {
  background: #546ddb; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 8px 16px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.toggle-cart button img {
  width: 24px; 
  height: 24px; 
  margin-right: 8px; 
}

.toggle-cart button:hover {
  background: #e0e0e0; 
}

.shopping-cart-display {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  color: black;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 100;
}

/*
.shopping-cart-display {
  position: relative;
  padding-top: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 400px; 
  min-height: 100px; 
  overflow: auto; 
  background-color: black;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 100;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background: url(/static/media/background.92b38e14.svg);
  box-shadow: 0 0 4px 4px hsla(0,0%,81.6%,.2823529411764706);
  color: lightblue;
}
*/


@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr; /* Stack products in a single column on small screens */
  }
}

.cart-header {
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
}

.item-name {
  flex-basis: 50%;
  text-align: left;
}

.item-price {
  flex-basis: 25%;
  text-align: center;
}

.item-controls {
  flex-basis: 25%;
  text-align: right;
}

.item-controls button {
  margin: 0 5px;
}

.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.commission-select {
  width: 70px;
}

.commission-display {
  display: inline-block; 
  margin-left: 10px; 
}

.total-price {
  margin-left: auto; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #dc3545; /* Bootstrap 'danger' color */
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  margin: 0;
}

.close-button:hover {
  background: #c82333; 
}

